.ant-divider.ant-custom-divider{
    margin-top: 0!important;
    // color: red!important;
    border-top-color: $color-border-default!important;
    color: $color-content-primary!important;
    font-family: $font-family!important;
}